<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to Vagabond <%= @user.user_name %>,</h3>
    <p>
      You have successfully signed up and are well on your way to a better life.
    </p>
    <p>
      Here's a sloth, you're welcome.  </p>
      <img src="http://i.imgur.com/qjXcK28.gif">
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
