<div>
  Welcome, <%= @user.first_name %>!
  <%= @user.current_city %>
  <%= @user.created_at %>
</div>

<h1> <%= link_to "My First POST!!!!", user_path(current_user) %></h1>
<p> Here's some cool shit about my post </p>
