/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require materialize
 *= require toastr
 */

body {
   background-color: #f5f5f5;
 }


#navbar {
  background: #00BBD3;
}

#slogan {
  font-size: 65px;
  text-align: center;
  vertical-align: middle;
  line-height: 450px;
  color: black;
  font-family: 'Arvo', serif;
  background-color: white;
  opacity: .6;
  font-weight: bold;
}

#parallax {
    background-image: url("map.jpg");
    min-height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cardlink {
  text-decoration: none!important;
  color: white;
  font-size: 55px;
  font-weight: bolder;
}


#userprofileimg {
  border-radius: 25%;
 	border: 5px solid #000;
 	background: #000;
}

#signuppage {
  background-color: #9D9D9D;
  border: 2px solid #00BBD3;
  border-radius: 10px;
}

#form {
  background-color: white;
  border: 1px solid #00BBD3;
  border-radius: 5px;
}

#signupheader {
  text-align: center;
  font-family: 'Arvo', serif;
  font-size: 30px;
}

#signupbutton {
  margin: 10px;
}
